@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: clip;
}

body {
  overflow-x: clip;
  width: 100%;
  max-width: 100%;
  
  font-family: "Cairo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* أي عنصر بيتوسّع غصب */
img, video, iframe, svg, canvas {
  max-width: 100%;
}

/* بديل الـ spacer divs اللي جوه كل سيكشن */
/* section[id] {
  scroll-margin-top: 5rem;
} */
/* WhatsApp Animation */
@keyframes floatWhatsApp {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animate-float-whatsapp {
  animation: floatWhatsApp 3s ease-in-out infinite;
}
